
    .row.content {height: 510px}
    
    footer {
      background-color: #8b2f97;
      color: black;
      padding: 15px;
    }
    
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
	
	.header {
  background-color: #8b2f97;
  color: #ffffff;
  overflow: hidden;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  float: right;
  padding-top: 30px;
  color: white;
}

.contentt {
	  padding-top: 20px;
      background-color: #ffffff;
      height: 100%;
	  width: 300px;
	  overflow-x: hidden;
}

#rcorners1 {
    border-radius: 15px 50px;
    background:rgba(178, 82, 222, 0.795);
    padding: 27px; 
    width: 1050px;
    height: 100%; 
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    margin: auto;
    text-align: justify;
    color: #ffffff;
}

#rcorners2 {
    border-radius: 15px 50px;
    background:rgba(178, 82, 222, 0.795);
    padding: 27px; 
    width: 1050px;
    height: 100%; 
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    margin: auto;
    text-align: justify;
    color: #ffffff;
}

#rcorners3 {
  border-radius: 50px;
  background-color: rgba(178, 82, 222, 0.795);
  padding: 27px; 
  padding-left: 20px;
  width: 500px;
  height: 380px; 
  font-size: 12px;
  font-family: 'Abel', sans-serif;
  margin: auto;
  text-align: justify;
  font-size: 20px;
  color: #ffffff;
}

#rcorners4 {
  border-radius: 50px;
  background-color: rgba(178, 82, 222, 0.795);
  padding: 27px; 
  padding-left: 20px;
  width: 500px;
  height: 380px; 
  font-size: 20px;
  color: #ffffff;
 
  margin: auto;
  text-align: center;
}
.c {
    padding-top: 20px;
      
      height: 100%;
	  width: 300px;
    overflow-x: hidden;
}

@media (max-width : 992px) {

  #rcorners1{
    width: 100% !important;
    height: 100% !important;
  }
  #rcorners2{
    width: 100% !important;
    height: 100% !important;
  }
  #rcorners3{
    width: 100% !important;
    height: 100% !important;
  }
  #rcorners4{
    width: 100% !important;
    height: 100% !important;
  }
  .kotak{
    width: 100% !important;
  }
  .col-sm-12{
    width: 100% !important;
  }
  .header{
    width: 100% !important;
  }
}