body {
    background-image: url(../logo/g.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%

}

.kotak {
    background-color: #3c9d9b98;
    height: 650px;
    width: 100%;
    margin: auto;
    
}

.media {
    height: 250px;
    text-align: center;
}

#ani {
    width:300px;
    height:300px;
    border:0;
    transition: width 1s, height 1s,;
    padding-top: 2px;
    
}

#ani:hover {
    width: 350px;
    height: 350px;
    transition: 1s;
  }

  .header {
    background-color: #8b2f97;
    height: 100px;
    color: whitesmoke;
    

  }
  
  .header a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  
  }
  
  .header-right {
    float: right;
    padding-top: 30px
  }


  @media (max-width : 992px) {

    .kotak{
      width: 100% !important;
    }
    #mauu{
      width: 100% !important;
    }

    body{
      width: 100% !important;
    }
    #rcorners1{
      width: 100% !important;
      height: 100% !important;
    }
    #rcorners2{
      width: 100% !important;
      height: 100% !important;
    }
  }
